.register {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #dce6f0;
}
.register .regLogoBox {
    margin-bottom: 1rem;
    height: 140px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgba(3, 52, 90, .8);
    font-family: Impact, sans-serif;
    font-family: 'open sans', sans-serif;
    text-align: center;
    font-style: italic;
    font-size: 40px;
    color: white;
    font-weight: 500;
}
.register .regLogoBox:hover {
    background-image: url(../login/login-bg-crop.jpeg);
    background-size: cover;
}
.register .regBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(139, 184, 232, 0.5);
}

.register .regBox .regInput{
    margin-bottom: 1rem;
    height: 40px;
    width: 480px; 
    border-radius: 10px;
    border: 1px solid #DAEBFE;
    font-size: 18px;
    padding-left: 20px;
}

.register .regBox .regInput:focus{
    outline: none;
}

.register .regBox span {
    text-align: center;
    color: #03345a;
}

.register .regBox .regButton{
    margin-bottom: 1rem;
    margin-top: 1rem;
    height: 55px;
    border-radius: 10px;
    border: none;
    background-color: rgb(3, 52, 90);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.register .regBox .registerLoginButton {
    margin-top: 1rem;
    height: 45px;
    width: 300px;
    border-radius: 10px;
    border: none;
    align-self: center;
    background-color: #6b9ed5;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}