.profile{
    display: flex;
}

.profileTop{
    flex: 9;
}

.profileCover{
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
}

.profileCover .profileCoverImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.profileCover .profileInfoBox {
    
}
.editBox {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(139, 184, 232, 0.5);
}
.profileUserImg{
    width: 150px;
    height: 150px;
    top: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border: none;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.profileInfoName{
    font-size: 30px;

}

.profileInfoDesc{
    font-weight: 300;
}

.profileBottom{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.profileBottomLeft{
    flex: .5;
    display: flex;
}
.profileBottomMiddle{
    flex: 2;
    display: flex;
}
.profileBottomRight{
    flex: 1;
    flex-direction: column;
    display: flex;
}
.profileBottom .profileBottomRight .profileButton {
    margin-top: 10px;
    height: 220px;
    width: 200px;
    background-color: rgba(139, 184, 232, 0.5);
}